body {
	padding-top: 100px;
}

#adgologo {
	padding-top: 10px;
}

#dgologo {
	width: 60px;
	height: 60px;
}

.thumbnail {
	max-width: 360px;
	margin: 0 auto;
	margin-bottom: 60px;
}

.list-social {
	padding: 0 30px;
}

@media only screen and (min-width: 992px) {
	.thumbnail {
		margin-bottom: 0;
	}

	.jumbotron {
		margin: 0;
	}

	#about {
		margin-bottom: 60px;
	}

	#about > .row {
		display: flex;
		align-items: center;
	}
}

@media only screen and (min-width: 1200px) {
	.jumbotron {
		min-height: 476px;
	}
}