body {
	padding-top: 100px;
}

.iconknow i{
	padding: 5pt;
	font-size: 12rem;
}

.tile-sports{
	width: 200px;
	height: 160px;
}

.list-social {
	padding: 0 30px;
}

#adgologo {
	padding-top: 10px;
}

#dgologo {
	width: 60px;
	height: 60px;
}

#tosports{
	display: inline-block;
	padding: 0 2px;
}

#resume-list {
	margin: 0px;
}